micronaut:
  application:
    name: crudRest
  server:
    port: ${SERVER_PORT:8080}
  security:
    authentication: bearer
    token:
      jwt:
        enabled: true
        signatures:
          jwks:
            keycloak:
              url: http://localhost:18080/auth/realms/grpc-rest/protocol/openid-connect/certs

grpc:
  client:
    plaintext: true
    max-retry-attempts: 10
  channels:
    manager:
      address: 'localhost:50051'
      plaintext: true
      max-retry-attempts: 10